PORT=3333

# DB
DB_TYPE=mongodb
DB_HOST=mongo
DB_PORT=8081
DB_NAME=mongo
DB_USERNAME=
DB_PASSWORD=
DB_CONN_STR=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Keycloak
KEYCLOAK_AUTH_SERVER_URL=
KEYCLOAK_REALM=trello
KEYCLOAK_CLIENT_ID=trello
KEYCLOAK_CLIENT_SECRET=

# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGE_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=